---
layout: default
title: MAC Address Lookup
description: Get various information about a MAC address
disclaimer: All info is based on macvendors.co.
---
<div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="MAC Address" id="mac">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-raised" type="button" id="go">Go!</button>
      </span>
    </div>
</div>
<br>

<div class="panel panel-default" hidden id="panel">
  <div class="panel-heading">Lookup</div>
  <div class="panel-body">
    <span id="test"></span>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%" id="progress"></div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table" hidden id="table">
      <tr>
        <th>Prefix</th>
        <th>Company</th>
        <th>Address</th>
      </tr>
      <tr>
        <td id="prefix"></td>
        <td id="company"></td>
        <td id="address"></td>
      </tr>
    </table>
  </div>
</div>
{% include warning.html %}
{% include error.html %}
<script src="js.js"></script>
