---
layout: default
title: MAC Address Lookup
description: Get various information about a MAC address
disclaimer: All info is based on macvendors.co.
---
<div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="MAC Address" id="mac">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-raised" type="button" id="go">Go!</button>
      </span>
    </div>
</div>
<br>

<div class="panel panel-default start-show" hidden id="panel">
  <div class="panel-heading">Lookup</div>
  <div class="panel-body">
    <span id="test"></span>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%" id="progress"></div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table start-hide" hidden id="table">
      <tr>
        <th>Prefix</th>
        <th>Company</th>
        <th>Address</th>
      </tr>
      <tr>
        <td class="start-empty" id="prefix"></td>
        <td class="start-empty"id="company"></td>
        <td class="start-empty"id="address"></td>
      </tr>
    </table>
  </div>
</div>

<div class="panel panel-default start-show" hidden id="panel-information">
  <div class="panel-heading">Information</div>
  <div class="panel-body">
    <p>
      First byte is <tt><span id="first-byte"></span></tt><br>
      First bits are
      <tt>
        <span id="high-bits"></span> <span id="low-bits-two-first"></span><b><span class="global-local"></span></b><i><span class="unicast-multicast"></span></i>
      </tt><br>
      Global/Local bit is <tt><b><span class="global-local"></span></b></tt>: <span id="global-local-text"></span><br>
      Unicast/Multicast bit is <tt><i><span class="unicast-multicast"></span></i></tt>: <span id="unicast-multicast-text"></span><br>
    </p>
  </div>
</div>
{% include warning.html %}
{% include error.html %}
<script src="js.js"></script>
