---
layout: default
title: Avia Finder
description: All Avia gas stations in tabular form
long-description: Since the Avia Finder is pretty shitty, I thought I'd put this information together for myself.
disclaimer: This information is from a PDF of 2011
---
<div class="panel panel-default" id="panel">
  <div class="panel-heading">Loading...</div>
  <div class="panel-body">
    <span id="test"></span>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%" id="progress"></div>
    </div>
  </div>
</div>
<table class="table table-striped table-condensed table-hover" hidden id="avia">
  {% comment %}
    http://avia.ch/fileadmin/data/station-export.json
  {% endcomment %}
  <thead>
    <th></th>
    <th>Ort</th>
    <th>Kanton</th>
    <th>Adresse</th>
    <th>Autobahn</th>
    <th>BF95</th>
    <th>BF98</th>
    <th>Diesel</th>
    <th>LPG</th>
    <th>AdBlue</th>
    <th>LKW (40t)</th>
    <th>2-Takt</th>
    <th>Shop</th>
    <th>Wasch-<br>anlage</th>
    <th>SB-Box</th>
    <th>Werkstatt</th>
  </thead>
  <tbody>
    {% for station in site.data.avia-finder %}
    {% capture location  %}{{ station.ort | append: " " | append: station.kanton | append: ", " | append: station.adresse }}{% endcapture %}
      <tr>
        <td><a href="https://maps.google.com/?q={{ location }}" target="_blank"><i class="material-icons">map</i></a></td>
        <td>{{ station.ort }}</td>
        <td>{{ station.kanton }}</td>
        <td>{{ station.adresse }}</td>
        <td>{% include test.html test=station.autobahn %}</td>
        <td>{% include test.html test=station.bf95 %}</td>
        <td>{% include test.html test=station.bf98 %}</td>
        <td>{% include test.html test=station.diesel %}</td>
        <td>{% include test.html test=station.lpg %}</td>
        <td>{% include test.html test=station.adblue %}</td>
        <td>{% include test.html test=station.lkw %}</td>
        <td>{% include test.html test=station.2takt %}</td>
        <td>{% include test.html test=station.shop %}</td>
        <td>{% include test.html test=station.waschanlage %}</td>
        <td>{% include test.html test=station.sbbox %}</td>
        <td>{% include test.html test=station.werkstatt %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script src="js.js"></script>
