<div class="bs-component">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl | prepend: "/" }}">{{ site.title }}</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% for nav in site.data.navigation %}
            {% if nav.children == null %}
              <li {% if nav.href == page.url %}class="active"{% endif %}><a href="{{ nav.href }}" {% if nav.external %}target="_blank"{% endif %}>{{ nav.title }}</a></li>
            {% else %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.title }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for child in nav.children %}
                <li {% if child.href == page.url %}class="active"{% endif %}><a href="{{ child.href }}" {% if nav.external %}target="_blank"{% endif %}>{{ child.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
