<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="container">
      <div class="page-header">
        <h1>{{ page.title }} <small>{{ page.description }}</small></h1>
      </div>
      {% assign parts = page.url | split: '/'  %}
      {% if parts.size > 0 %}
        <ol class="breadcrumb">
          {% for part in parts  %}
            {% if forloop.first %}
              <li><a href="/">Home</a></li>
            {% elsif forloop.last %}
              <li class="active">{{ page.title }}</li>
            {% else %}
              <li>
                {% for pathname in site.data.pathnames %}
                  {% if pathname.path == part %}
                    {% assign name = pathname.name %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                {{ name }}
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endif %}
      {% if page.long-description %}
      <div class="panel panel-default">
        <div class="panel-heading"> Info  </div>
        <div class="panel-body">
          {{ page.long-description }}
        </div>
      </div>
      {% endif %}
        {{ content }}
      {% if page.disclaimer %}
      <div class="panel panel-info">
        <div class="panel-heading">Disclaimer</div>
        <div class="panel-body">
          {{ page.disclaimer }}
        </div>
      </div>
      {% endif %}

    </div>
    {% include footer.html %}

  </body>

</html>
